@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>
    <a asp-page="/Games/Start" class="btn btn-success">ゲーム開始</a>
</p>

<p>
    <a asp-page="/Games/Index" class="btn btn-info">ゲーム履歴を見る</a>
</p>

<p>
    <a asp-page="/Players/Index" class="btn btn-primary">プレイヤー管理</a>
</p>
